.about {
  padding: 103px 0 9px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 0 30px;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__section-title {
    @include tablet {
      margin-bottom: 30px;
    }
  }

  &__picture {
    position: relative;
    grid-column: 2 / 3;
    grid-row: 1 / 4;

    &>img {
      position: absolute;
      left: 119px;
      top: 37px;
    }

    @include tablet {
      display: none;
    }
  }

  &__txt {
    &_about {
      margin-top: 37px;
    }

    &_target {
      grid-column: 2 / 3;
      grid-row: 4 / 5;
      margin: -21px 0 0 132px;

      @include tablet {
        grid-column: auto;
        grid-row: auto;
        margin: 0;
      }
    }
  }

  &__txt-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  &__parag {
    font-weight: 300;
    font-size: 20px;
    line-height: 110%;

    &_amount {
      margin-top: 64px;

      @include mobile {
        margin-top: 0;
      }
    }

    @include mobile {
      font-size: 16px;
    }
  }

  @include mobile {
    padding: 30px 0 9px;
  }
}

.section-title {
  position: relative;

  &__title {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;

    @include mobile {
      font-size: 22px;
      line-height: 34px;
    }
  }

  &__back {
    position: absolute;
    left: 0;
    top: -125px;
    z-index: -1;
    font-weight: 700;
    font-size: 287px;
    line-height: 312px;
    color: #333;
    opacity: 0.05;

    @include tablet {
      top: -142px;
      font-size: 193px;
    }

    @include mobile {
      font-size: 85px;
    }
  }
}
