$site-width: 1440px;
$container-width: 1240px;
$container-offset: 30px;
$font-family: "Fira-sans";
$mainColor: #842231;
$secondColor: #dba069;
$pColor: #333;
$isActiveColor: darken($secondColor, 7%);
$isFocusColor: rgb(0 195 255);
